*.o


src/cccc

doxygen/*
ccccout/*


# generated source files

src/CLexer.cpp
src/CLexer.h
src/CParser.cpp
src/CParser.h
src/Ctokens.h
src/JLexer.cpp
src/JLexer.h
src/JParser.cpp
src/JParser.h
src/Jtokens.h

src/cccc.cpp
src/java.cpp
src/parser.dlg

# generated test output
test/.cccc/*
test/*.html
test/*.xml
test/*.db

